 <!-- Inherit from base.html  -->
 {% extends 'base.html' %}

 <!-- Title -->
 {% block title %}
   LOGIN
 {% endblock %}
 
 <!-- Body contents  -->
 {% block content %}
   <div class="container bg-light pt-4 justify-content-center align-items-center">
     <form action="" method="POST" class="container w-50 needs-validation" novalidate>
       <h3 class="text-center">WELCOME</h3>
       <hr>
       {{ form.hidden_tag() }}
       <div class="mb-3">
         {{ form.username.label(class="form-label fs-4 d-block mb-2") }}
         {{ form.username(class="form-control", placeholder="Username") }}
       </div>
 
       <div class="mb-3">
         {{ form.email.label(class="form-label fs-4 d-block mb-2") }}
         {{ form.email(class="form-control", placeholder="Email address") }}
       </div>
 
       <div class="mb-3">
         {{ form.password.label(class="form-label fs-4 d-block mb-2") }}
         {{ form.password(class="form-control", placeholder="Password") }}
       </div>
        {{ form.recaptcha}}
       <div class="mb-3 mt-2">
         {{ form.submit(class="btn btn-success btn-lg w-100 mt-2") }}
       </div>
   
   
     </form>
     <div class="form-control-plaintext text-center">Do not have an account? <a href="{{ url_for('auth.signup') }}" class="text-decoration-none text-dark fw-bold">SIGN UP</a></div>
   </div>
 {% endblock %}