<!-- Inherit from base.html  -->
{% extends 'base.html' %}

<!-- Title  -->
{% block title %}
    Dashboard
{% endblock %}

<!-- Body Content  -->
{% block content %}
<div class="container bg-light pt-3 justify-content-center">
    <div class="row pt-3 align-items-center">
        <h3 class="col-md-9">DASHBOARD</h3>
        <div class="col-md-2 me-3 border border-success rounded text-center p-2">
            <h5>{{ g.user['details']['username'].upper() }} <i class="fa-regular fa-user ms-3"></i></h5>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="row l-blue p-2 rounded">
                <h4>Personal Details</h4>
            </div>
            <div class="row mt-2">
                {% for key, value in g.user['details'].items() %}
                 <div class="h6 col-md-4">
                    {{ key.upper()}}
                 </div>
                 <ul class="col-md-8">
                    <li> {{ value }} </li>
                 </ul>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="row l-blue p-2 rounded">
                <h4>Biodata</h4>
            </div>
            <div class="row mt-2 justify-content-center">
                <form action="" method="POST" class="needs-validation" novalidate>
                    {% if g.user['biodata'].get('alert') %}
                    <div class="form-group mb-3">
                        {{ bioform.hidden_tag() }}
                
                        {{ bioform.firstname.label(class="mb-1 fs-5") }}
                        {{ bioform.firstname(class="form-control mb-2", placeholder="first name") }}
                
                        {{ bioform.lastname.label(class="mb-1 fs-5") }}
                        {{ bioform.lastname(class="form-control mb-2", placeholder="last name") }}

                        <div class="row">
                            <div class="col-md-2">{{ bioform.age.label(class="mb-1 fs-5") }}
                                {{ bioform.age(class="form-control mb-2", placeholder="Age") }}</div>
                            <div class="col-md-2"> {{ bioform.genotype.label(class="mb-1 fs-5") }}
                                {{ bioform.genotype(class="form-control mb-2", placeholder="AA") }}</div>
                            <div class="col-md-2">{{ bioform.bloodgroup.label(class="mb-1 fs-5") }}
                                {{ bioform.bloodgroup(class="form-control mb-2", placeholder="A+") }}</div>
                            <div class="col-md-2">{{ bioform.height.label(class="mb-1 fs-5") }}
                                {{ bioform.height(class="form-control mb-2", placeholder="in cm") }}</div>
                            <div class="col-md-2">{{ bioform.weight.label(class="mb-1 fs-5") }}
                                {{ bioform.weight(class="form-control mb-2", placeholder="in kg") }}</div>
                        </div>
                        <div class="row">
                        </div>
                        {{ bioform.allergies.label(class="mb-1 fs-5") }}
                        {{ bioform.allergies(class="form-control mb-2", placeholder="Separate each allergy by a comma (,)")}}

                        {{ bioform.submit(class="btn btn-primary rounded mt-2") }}
                    </div>
                    {% else %}
                            <table class="table table-hover table-responsive">
                                <tr class="fs-5"><td>Firstname</td><td class="text-success text-center">{{g.user['biodata'].get('first_name')}}</td></tr>
                                <tr class="fs-5"><td>Lastname</td><td class="text-success text-center">{{ g.user['biodata'].get('last_name') }}</td></tr>
                                <tr class="fs-5"><td>Age</td><td class="text-success text-center">{{ g.user['biodata'].get('age') }}</td></tr>
                                <tr class="fs-5"><td>Height</td><td class="text-success text-center">{{ g.user['biodata'].get('height') }}</td></tr>
                                <tr class="fs-5"><td>Weight</td><td class="text-success text-center">{{ g.user['biodata'].get('weight') }}</td></tr>
                                <tr class="fs-5"><td>Blood Group</td><td class="text-success text-center">{{ g.user['biodata'].get('blood_group') }}</td></tr>
                                <tr class="fs-5"><td>Genotype</td><td class="text-success text-center">{{ g.user['biodata'].get('genotype') }}</td></tr>
                                <tr class="fs-5"><td>Allergies</td><td class="text-success text-center">{{ g.user['biodata'].get('allergies') }}</td></tr>
                            </table>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="row"> 
            <div class="row l-blue p-2 rounded">
                <h4>Medical Records</h4>
            </div>
            <div class="row mt-2">
            {% if g.user['records'].get('alert') %}
                <p> There should be a form here</p>
            {% else %}
                {% for key, value in g.user['records'].items() %}
                    <div class="h6 col-md-4">
                       {{ key.upper()}}
                    </div>
                    <ul class="col-md-8">
                        <li> {{ value }} </li>
                    </ul>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}