<!-- Inherit from base.html  -->
{% extends 'base.html' %}

<!-- Title  -->
{% block title %}
    Dashboard
{% endblock %}

<!-- Body Content  -->
{% block content %}
<div class="container bg-light pt-3 justify-content-center">
    <div class="row pt-3 align-items-center">
        <h3 class="col-md-9">DASHBOARD</h3>
        <div class="col-md-3">
            <h5>USER - {{ g.user['details']['username'].upper() }}</h5>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="row l-blue p-2">
                <h4>Personal Details</h4>
            </div>
            <div class="row mt-2">
                {% for key, value in g.user['details'].items() %}
                 <div class="h6 col-md-4">
                    {{ key.upper()}}
                 </div>
                 <ul class="col-md-8">
                    <li> {{ value }} </li>
                 </ul>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="row l-blue p-2">
                <h4>Biodata</h4>
            </div>
            <div class="row mt-2">
                {% for key, value in g.user['biodata'].items() %}
                 <div class="h6 col-md-4">
                    {% if key != 'alert' %}
                        {{ key.upper()}}
                    {% endif %}
                 </div>
                 <ul class="col-md-8">
                    <li> {{ value }} </li>
                 </ul>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="row l-blue p-2">
                <h4>Medical Records</h4>
            </div>
            <div class="row mt-2">
                {% for key, value in g.user['records'].items() %}
                 <div class="h6 col-md-4">
                    {% if key != 'alert' %}
                        {{ key.upper()}}
                    {% endif %}
                 </div>
                 <ul class="col-md-8">
                    <li> {{ value }} </li>
                 </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}