<!-- Inherit from base.html  -->
{% extends 'base.html' %}

<!-- Title  -->
{% block title %}
    Dashboard
{% endblock %}

<!-- Body Content  -->
{% block content %}
<div class="container-fluid h-100">
    <h1>Dashboard Content </h1>
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel leo vestibulum, pharetra orci sit amet, placerat justo. Fusce purus tortor, sagittis non lacus sed, consectetur viverra felis. In dignissim libero et mauris lacinia, non rutrum velit iaculis. Curabitur vitae ullamcorper felis. Suspendisse urna felis, dignissim a nisi eu, vehicula vulputate libero. Praesent varius sapien vel sapien egestas, at fringilla neque sodales. Maecenas a ex ut lacus fermentum mattis in et neque. Nullam eget mollis felis. Vivamus eu scelerisque orci. Etiam suscipit tempus tellus, quis imperdiet nibh porta at. Maecenas fermentum, augue a suscipit tempor, felis urna varius est, vitae auctor nisl libero a eros.

Mauris aliquet gravida metus, eu sagittis nunc scelerisque eget. Sed eget sapien imperdiet orci luctus fringilla eget at dui. Nunc hendrerit felis porta lorem tempus, tempus tempus nisl lacinia. Aliquam vestibulum vel metus a convallis. Nam magna nisi, interdum quis tellus eu, imperdiet iaculis tellus. Morbi mi enim, facilisis id elit ac, ullamcorper auctor sem. Sed molestie nunc ut consequat mattis. Phasellus non risus vel eros bibendum iaculis a sit amet elit. Maecenas consequat enim ex. Donec consequat mattis orci, nec fermentum felis finibus vitae. Etiam et luctus erat. Morbi ullamcorper lacinia finibus. Integer nisl mi, cursus ac interdum nec, euismod ac lorem. Nam luctus massa eget dui volutpat, vitae egestas velit lobortis. Donec eu libero sit amet erat rhoncus vehicula ac eu dui. Donec fermentum diam nisl, sed aliquet magna volutpat eu.

Vivamus vitae malesuada nisi. Maecenas ex urna, auctor id ultrices viverra, euismod vitae ante. Praesent maximus libero a mi finibus dapibus. Aliquam vitae turpis sodales, congue augue sagittis, dictum urna. Nam velit est, facilisis id metus vel, ultrices pellentesque turpis. Curabitur volutpat arcu ac metus lobortis, at semper justo dictum. Sed interdum sed augue eu sodales. Aenean quis massa mauris. Aliquam vitae mauris eget velit semper scelerisque lobortis vitae nisi. Integer maximus sagittis viverra. Quisque ut purus condimentum, commodo dolor a, elementum risus. Aliquam consectetur ex nisl, in euismod purus pulvinar tincidunt. Aenean feugiat justo risus, sit amet ornare orci gravida eget.

Cras rhoncus finibus diam eget semper. Maecenas a sagittis sapien. Fusce accumsan turpis id sem vehicula cursus. Fusce rhoncus sapien eu dui condimentum porta. Pellentesque interdum sollicitudin nulla non mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam hendrerit accumsan nibh, ac eleifend eros commodo ac. Pellentesque in metus non enim mattis fermentum. Sed tincidunt iaculis diam, id faucibus ex mollis quis. Fusce vel erat at justo vulputate malesuada semper in felis. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec quis iaculis justo, quis consectetur lacus.
    </div>
</div>
{% endblock %}