{% extends 'base.html' %}

<!-- Page title in here -->
{% block title %}
  HOME
{% endblock %}

<!-- Content of the homepage goes below  -->
{% block content %}
<section class="service">
  <h2 class="head">Our Services</h2>
  <div id="service_content">
      <div class="card first_frame"><div class="card_msg">Medical Records</div></div>
      <div class="card second_frame"><div class="card_msg">Book an Appointment</div></div>
      <div class="card third_frame"><div class="card_msg">Nearest Hospital</div></div>
      <div class="card fourth_frame"><div class="card_msg">Emergency Alert</div></div>
  </div>
</section>
<section class="service">
  <h2 class="head">Our Vision</h2>
  <div class="inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

      Phasellus eget egestas orci. Nulla sagittis rutrum urna pellentesque molestie. 

      Donec sed augue scelerisque, venenatis magna eu, suscipit lacus. Curabitur ut malesuada arcu, ut tincidunt metus. Sed eleifend euismod nulla, nec rhoncus ex. Quisque rutrum purus non metus varius vehicula.
      Nullam laoreet dui ut nunc molestie lacinia.
  </div>
<section class="service">
  <h2 class="head">Our Mission</h2>
  <div class="inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      Phasellus eget egestas orci. Nulla sagittis rutrum urna pellentesque molestie.

      Donec sed augue scelerisque, venenatis magna eu, suscipit lacus. Curabitur ut malesuada arcu, ut tincidunt metus. Sed eleifend euismod nulla, nec rhoncus ex. Quisque rutrum purus non metus varius vehicula.
      Nullam laoreet dui ut nunc molestie lacinia.
  </div>
</section>
{% endblock %}