{% extends 'base.html' %}

<!-- Page title in here -->
{% block title %}
  HOME
{% endblock %}

<!-- Content of the homepage goes below  -->
{% block content %}
<section class="service">
  <h2 class="head">Our Services</h2>
  <div id="service_content">
      <div class="card first_frame"><div class="card_msg">Medical Records</div></div>
      <div class="card second_frame"><div class="card_msg">Book an Appointment</div></div>
      <div class="card third_frame"><div class="card_msg">Nearest Hospital</div></div>
      <div class="card fourth_frame"><div class="card_msg">Emergency Alert</div></div>
  </div>
</section>
<section class="service">
  <h2 class="head">Our Mission</h2>
  <div class="container bg-light h-100 w-50 robo p-3 justify-content-center align-items-center fs-5">
    <blockquote>
      Our mission is to provide healthcare solutions that enable secure and convenient access to medical records, improving
      the quality of care, data safety, and reducing the cost of development. We believe that making medical records readily
      available for third-party applications can save lives, reduce delays in treatment, and help caregivers provide better
      care.
    </blockquote>
  </div>
</section>
<section class="service">
  <h2 class="head">Our Vision</h2>
  <div class="container bg-light h-100 w-50 p-3 robo justify-content-center align-items-center fs-5">
    <blockquote>
      Our vision is to create a healthcare ecosystem where medical records are easily accessible and securely shared, enabling
      doctors, hospitals, and caregivers to provide the best possible care for patients. We aim to become the leading provider
      of healthcare solutions that make it easy for healthcare professionals to access and use medical records, improving
      patient outcomes and reducing the risk of errors and delays.
    </blockquote>
  </div>
</section>
{% endblock %}